#leafletmap { height: 500px; }


#legend { list-style: none;font-family: 'Overpass Mono', monospace; background-color:#e9ecef;
  font-weight: 600; }
#legend li { float: left; margin-right: 10px;  }
#legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 5px;  }
#legend .legend_k1 { background-color: #005DAA; }
#legend .legend_k2 { background-color: #C30019; }
#legend .legend_k3 { background-color: #9b1631; }
#legend .legend_k4{ background-color: #F9B612; }
#legend .legend_k5{ background-color: #008000; }


@import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');
/* LESS VARIABLES */
.normalFont {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.monoFontBold {
  font-family: 'Overpass Mono', monospace;
  font-weight: 600;
}
